        #quote-carousel {
            padding: 0 10px 30px 10px;
            margin-top: 60px;
        }
        
        #quote-carousel .carousel-control {
            background: none;
            color: #cacaca;
            font-size: 2.3em;
            text-shadow: none;
            margin-top: 30px;
        }
        
        #quote-carousel .carousel-indicators {
            position: relative;
            right: 50%;
            top: auto;
        }
        /* Slick Slider */
        
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: #ffeaa7;
        }
        /* Borrowed the H1 format from Miss Tiff from Jersey.
    https://codepen.io/tmrDevelops/pen/qENbLZ
 */
        
        h1 {
            width: 100%;
            text-align: center;
            margin-top: 50px;
            color: rgb(255, 255, 255);
            letter-spacing: .8em;
            font-size: 2.5vw;
            font-weight: normal;
            opacity: .8;
            text-transform: uppercase;
            text-shadow: hsla(0, 45%, 5%, .6) 0 0 1px, hsla(360, 55%, 95%, .6) 0 -1px 2px, hsla(0, 45%, 5%, .8) 0 -1px 2px, hsla(360, 55%, 95%, .5) 0 2px 2px;
        }
        
        section {
            width: 60%;
            margin: 70px auto;
        }
        /* Simple Slider */
        
        .white-back {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            background: #fff;
        }
        
        .simple blockquote p {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            color: #1e528e;
            padding: 25px;
            font-size: 1.25em;
            font-style: italic;
            text-align: center;
        }
        
        .simple cite {
            font-size: 1em;
            float: right;
            font-style: normal;
            color: #1e528e;
        }
        
        .simple cite a {
            color: #2d91c2;
            font-style: italic;
            text-decoration: none;
            font-size: .85em;
        }
        
        .simple cite a:hover {
            color: #00B4CC;
        }
        /* A custom cursor to let folks know they can drag things */
        /* Bubble Slider */
        
        .bubble blockquote {
            margin: 10px 10px 0;
            background: #fff;
            padding: 60px;
            position: relative;
            border: none;
            border-radius: 8px;
            font-size: 2em;
            color: #1e528e;
        }
        
        .bubble blockquote:before,
        .bubble blockquote:after {
            content: "\201C";
            position: absolute;
            font-size: 130px;
            padding: 10px;
            line-height: 1;
            color: #1e528e;
        }
        
        .bubble blockquote:before {
            top: 0;
            left: 10px;
        }
        
        .bubble blockquote:after {
            content: "\201D";
            right: 10px;
            bottom: -.5em;
        }
        
        .bubble div {
            width: 0;
            height: 0;
            border-left: 0 solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #fff;
            margin: 0 0 0 60px;
            margin-bottom: 10px;
        }
        
        .bubble cite {
            padding-left: 20px;
            font-size: 1.25em;
            color: #f7f7f7;
        }
        
        .lnr {
            padding: 5px;
        }
        
        .button {
            background-color: #ffeaa7;
            color: black;
            padding: 1rem;
            text-align: center;
            text-decoration: none;
        }
        
        .button:hover {
            background-color: #ff9082;
            color: rgb(78, 78, 78);
        }
        
        .app-body-card {
            background-color: #2d3436;
            margin: 50px 50px 50px 50px;
            padding: 25px;
        }
        
        @media only screen and (min-width: 100px) {
            .app-body-card {
                height: 1080;
                margin: 20px 20px 20px 20px;
            }
        }
        
        @media only screen and (min-width: 100px) {
            .app-body-card {
                height: 1080;
                margin: 20px 20px 20px 20px;
            }
        }
        
        .app-body-card {
            background-color: #2d3436;
            margin: 50px 50px 50px 50px;
            padding: 25px;
        }